@font-face {
    font-family: "DIN";
    font-style: normal;

    /* Браузер сначала попробует найти шрифт локально */
    src: local("DIN Pro"),
        /* Если не получилось то возьмет из папки*/
    url("fonts/DINPro/DINpro.woff2") format("woff2"),
   
    url("fonts/DINPro/DINpro.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;

    /* Браузер сначала попробует найти шрифт локально */
    src: local("Open Sans"),
        /* Если не получилось то возьмет из папки*/
    url("fonts/Open Sans/OpenSans-Regular.woff2") format("woff2");
}
