.content-container{
    overflow: hidden;

    position: relative;
    margin: 0 auto;

    max-width: 1408px;

    background: #ffffff;
}

.navbar{
    display: flex;
    justify-content: space-between;

    width: auto;
    height: 44px;

    margin-top: 56px;
}

.navbar__img-logo{
    margin-top: -37px;
    margin-left: -223px;

    width: 70.26px;
    height: 65.1px;

}

.navbar__menu-list{
    display: flex;
    justify-content: space-between;
    margin-top: -18px;
    margin-right: -193px;

    width: 510px;
    height: 30px;

}

.navbar__menu-item{
    list-style-type: none;
}

.navbar__menu-item__link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    text-decoration: none;
    text-transform: uppercase; /*все буквы становятся заглавными*/

    color: #000000;
}

.lang{
    margin-top: -18px;
    margin-left: 42px;

}
path.animate {
    fill: #000000;
}

.navbar__btn-book{
    margin-right: 32px;
    margin-top: -35px;
    padding-top: 21px;

    width: 198px;
    height: 37px;
}


/* Mobile */


  @media only screen and (max-width: 780px) {

    .navbar__mobile-navigation{
        position: relative;
        z-index: 3;
        width:64px;
        height:64px;
        left:56px;

        transform: translate(-50%, -50%);
        padding: 0px;
        background-color:transparent;
        border-style:none;
        outline: none;
        cursor: pointer;
    }
    
    .navbar__mobile-navigation span{
        display:block;
        position: absolute;
        width:100%;
        height:5px;

        background-color:#e16e83;
        border-radius: 2px;
        transition: all 0.5s ease;
    }
    
    .navbar__mobile-navigation span:nth-child(1){
        top:0px;
        left:0px;
    }
    .navbar__mobile-navigation span:nth-child(2){
        top:20px;
        right:0px;
    }
    .navbar__mobile-navigation span:nth-child(3){
        top:40px;
        left:0px;
    }
    .navbar__mobile-navigation.navbar__mobile-navigation--active span:nth-child(2){
        animation: span2 1.5s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    @keyframes span2{
        0%{
            transform: translate(0,0) scale(1);
        }
        20%{
            width:5px;

            border-radius: 50%;
            transform: translate(0,0) scale(1);
        }
        40%{
            width:5px;

            border-radius: 50%;
            transform: translate(0,0) scale(1);
        }
        50%{
            width:5px;

            border-radius: 50%;
            transform: translate(0,18px) scale(1); 
        }
        80%{
            width:5px;

            border-radius: 50%;
            transform: translate(0,-16px) scale(1);
        }
        100%{
            width:5px;

            border-radius: 50%;
            transform: translate(0,100px) scale(0);
        }
    }
    .navbar__mobile-navigation.navbar__mobile-navigation--active span:nth-child(3){
        animation: span3 0.5s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
        animation-delay: 0.7s;
    }
    @keyframes span3{
        0%{
            transform: translate(0,0);
        }
        60%{
            transform: rotate(80deg) translate(-7px, -7px);
        }
        100%{
            transform: rotate(45deg) translate(-7px, -7px);
        }
    }
    .navbar__mobile-navigation.navbar__mobile-navigation--active span:nth-child(1){
        animation: span1 0.5s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
        animation-delay: 1.1s;
    }
    @keyframes span1{
        0%{
            transform: translate(0,0);
        }
        60%{
            transform: rotate(-110deg) translate(-7px, -7px);
        }
        100%{
            transform: rotate(-45deg) translate(-20px, 20px);
        }
    }   
    .navbar__mobile-navigation span:nth-child(1){
        animation: span1_close .8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    @keyframes span1_close {
        0%{
            transform: rotate(-45deg) translate(-20px, 20px);
        }
        100%{
            transform: rotate(0deg) translate(0, 0);
        }
    }
    .navbar__mobile-navigation span:nth-child(2){
        animation: span2_close 0.8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    @keyframes span2_close{
        0%{
            transform: translate(0, 40px) scale(0);
        }
        100%{
            transform: translate(0, 0) scale(1);
        }
    }
    .navbar__mobile-navigation span:nth-child(3){
        animation: span3_close .8s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
    }
    @keyframes span3_close{
        0%{
            transform: rotate(45deg) translate(-7px, -7px);
        }
        100%{
            transform: rotate(0deg) translate(0, 0);
        }
    }
    
    .navbar__menu-list {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;

        width: 300px;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;

        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

        transition-duration: .20s;
    }

    .navbar__menu-list--open{
        visibility: visible;
        z-index: 2;
    }

    .navbar__menu-item {
        display: block;
        padding: 12px 24px;

        transition-duration: .20s;
    }

    .navbar__menu-item:hover {
        background-color: #CFD8DC;
    }
    
    .navbar__img-logo{
        margin-left: 29%;
    }


    

  }
