.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  
.slider-content {
    position: relative;
    /* Выравнивание текста по горизонтали и по вертикали*/
    top: -587px;
    /*transform: translate(-50%, -50%);*/
    /*Тень*/
}

.slider-header{
    position: relative;
    right: 58px;
    font-size: 70px;
    line-height: 72px;
    /* identical to box height, or 103% */
    text-align: right;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slider-description{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    text-align: center;
    left: 943px;
    top: -40px;
    width: 328px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 700px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.sliderImg{
    object-fit: cover;
    width: 100%;
    height: 700px;
    border: none !important;
    box-shadow: none !important;
}

.slider .slider-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.swiper-scrollbar-drag {
    transform: rotate(-90deg);
}

.swiper-button-next::after{
    position: relative;
    top: 313px;
    right: 640px;

    font-size: 20px;

    color: #fff;
}

.swiper-button-prev::after{
    position: relative;
    top: 313px;
    left: 640px;

    font-size: 20px;

    color: #fff;
}